.notescape-view-content {
    padding: 0 !important;
    display: flex;
    flex-flow: column;
}

.notescape-webview {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: none;
    background-color: white;
    background-clip: content-box;
}

.notescape-web-view-header .notescape-center-widget-container::after {
    display: none;
}

.netscape-view-header-search-widget {
    width: 100%;
}
